@font-face {
  font-family: 'Single Day';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/singleday/v20/LYjHdGDjlEgoAcF95EI5jVo.ttf) format('truetype');
}
